<div style="display: flex; flex-direction: row;">
<div class="box">
<h1 class="title">Teléfono</h1>
<h2>2816492</h2>
</div>

<div class="box">
<h1 class="title">Celular</h1>
<h2>0990051521</h2>
</div>

<div class="box">
<h1 class="title">Dirección</h1>
<h2>423P+JMR, Guadalajara, Cuenca</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8193.228867120983!2d-78.96303457049396!3d-2.8961881228616093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd19cf79c1f4dd%3A0xf7bdc05eab3e02da!2sColegio%20Latinoamericano!5e0!3m2!1ses-419!2sec!4v1706471540308!5m2!1ses-419!2sec" width="300px" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>">

</div>
</div>







